{% extends "layout.html" %}

{% block link %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/query-builder.default.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/jquery-ui.css') }}">
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/lib/jquery-1.11.3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/jquery-ui.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/jQuery.extendext.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/doT.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/query-builder.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/model.js') }}"></script>
    <script src="{{ url_for('static', filename='js/view.js') }}"></script>
    <script src="{{ url_for('static', filename='js/controller.js') }}"></script>
    <script src="{{ url_for('static', filename='js/init.js') }}"></script>
{% endblock %}

{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('index') }}" method=post class=add-entry>
      <dl>
        <dt>Title:
        <dd><input type=text size=30 name=title>
        <dt>Text:
        <dd><textarea name=text rows=5 cols=40></textarea>
        <dd><input type=submit value=Share>
      </dl>
    </form>
  {% endif %}
    <div id="tabs">
      <ul>
        <li><a href="#rooms">Rooms</a></li>
        <li><a href="#sensors">Sensors</a></li>
        <li><a href="#devices">Devices</a></li>
        <li><a href="#rules">Rules</a></li>
      </ul>
      <div id="rooms">
        <p>Text 1.</p>
      </div>
      <div id="sensors">
        <p>Text 2.</p>
      </div>
      <div id="devices">
        <p>Text 3.</p>
        <p>Text 4.</p>
      </div>
      <div id="rules">
        <p>Text 5.</p>
      </div>
    </div>
{% endblock %}